@font-face {
  font-family: Muli-Bold; 
  src: url(../assets/fonts/Muli-Bold.ttf); 
}

@font-face {
  font-family: Muli-BoldItalic; 
  src: url(../assets/fonts/Muli-BoldItalic.ttf); 
}

@font-face {
  font-family: Muli-ExtraBold; 
  src: url(../assets/fonts/Muli-ExtraBold.woff); 
}

@font-face {
  font-family: Muli-Italic; 
  src: url(../assets/fonts/Muli-Italic.ttf); 
}

@font-face {
  font-family: Muli-Regular;
  src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
  font-family: Semi-BoldItalic; 
  src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf); 
}




.body {
  max-width: 1950px;
  position: relative;
}



/* start: Fix button - arrow top*/

.fix-btn {
  position: fixed;
  right: 100px;
  bottom: 15px;
  display: flex;
}

.fix-btn__name {
  font-family: Muli-Bold;
  font-size: 16px;
  line-height: 2.5;
  color: #ffffff;
  padding-right: 15px;
  padding-top: 40px;
  text-shadow: 1px 1px 5px #1e1e1e, 0 0 5px #1e1e1e;
}

.fix-btn__arrow {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background-color: #f2662f;
}

.fix-btn__arrow-img {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}

/* end: Fix button - arrow top*/




/* start button */

.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  outline: none;
  font-family: Muli-Regular;
  font-weight: 800;
  border-style: none;
  border-radius:; 30px;
  -webkit-border-radius:;
  -moz-border-radius:;
  -ms-border-radius:;
  -o-border-radius:;
}

.btn:focus {
  outline: 2px solid rgb(54, 54, 54);
}

.btn:hover{
  opacity: 0.7;
  border: 1px double black;
  outline: none;
}

.btn:active {
  opacity: 0.9;
  border: 2px inset white;
  outline: none;
}

.btn--green {
  background-color: #0aa566;
}

.btn--dark-green {
  background-color: #14826f;
}

.btn--brown {
  background-color: #632b17;
}

.btn--yellow {
  background-color: #f7ae3b;
}

.btn--orange {
  background-color: #c3471b;
}

/* end button */




/* start title */

.title {
  font-family: Muli-ExtraBold;
} 

.title--orange {
  color: #f2612d;
}

.title--yellow {
  color: #f7ae3b;
}

.title--yellow-green{
  color: #cae941;
}

.title--white {
  color: white;
}

/* end title */




/* start text */

.text {  
  font-family: Muli-Regular;
}

.text--black {
  color: #1e1e1e;
}

.item {    
  font-family: Muli-Regular;
}

/* end text */




/* start block */

.block--brown {
  background-color: #632b17;
}

.block--dark-green {
  background-color: #178670;
}

.block--yellow {
  background-color: #f7ae3b;
}

.block--orange {
  background-color: #c3471b;
}

/* end block */



/* start link */

.link {  
  text-decoration: none;
}

.link:visited {
  box-shadow: 1px 1px 2px black;
}

.link:focus {
  outline: 2px solid rgb(54, 54, 54);
}

.link:hover {
  opacity: 0.6;
  color: #c3471b;
}

.link:active {
  opacity: 1;
  color: #632b17;
}

/* end link */




/* start social */

.social:visited {
  box-shadow: 1px 1px 2px black;
}

.social:focus {
  outline: 2px solid rgb(54, 54, 54);
}

.social:hover {
  opacity: 0.6;
}

.social:active {
  opacity: 1;
  border: 1px inset black;
}

/* end social */




/*Start header*/

.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1950px;
  max-height: 1080px; 
  background-image: url(../assets/images/main-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #f7ae3b;
  z-index: 5;
}

.header__top,
.header__list,
.header__personal-social,
.personal__list,
.social__list {
  display: flex;
}

.header__top {
  padding: 70px 100px 0 100px;
  justify-content: space-between;
  align-items: center;
}

.header__list,
.personal__list,
.social__list {
  list-style-type: none;
  padding: 0;
}

.header__link,
.personal__link {  
  text-decoration: none;
  color: #ffffff;
}

.header__list {
  font-size: 14px;
  line-height: 2.5; 
  color: #ffffff;
  text-transform: uppercase;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__logo {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}

.header__personal-social {
  width: 380px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__top,
.header__social,
.personal__link-cart {
  position: relative;
}

.header__social::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -80px;
  width: 50px;
  height: 1px;
  background-color: white;
}

.personal__item:not(:last-child) {
  margin-right: 40px;
}

.personal__cart-count {
  position: absolute;
  top: -25px;
  width: 20px;
  height: 20px;
  text-align: center;
  font-family: Muli;
  font-size: 14px;
  line-height: 1.5;
  color: black;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.header__social-item {
  width: 34px;
  height: 34px;
  background-color: white;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.header__social-item:not(:last-child) {
  margin-right: 10px;
}

.social__icon {
  display: block;
  margin: 8px auto;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.header__btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  width: 280px;
  height: 70px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.67;
  color: #ffffff;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  -o-border-radius: 35px;
}

.header__btn::after {
  position: absolute;
  top: 20%;
  right: 10%;
  content: ".";
  width: 30px;
  color:transparent;
  background-image:url(../assets/images/Arrow-orange.png);
  background-repeat: no-repeat;
  background-position: center center;
}


/* end header */




/* start smoothies */

.smoothies {
  width: 100vw;
  height: 100vh;
  max-height: 870px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.smoothies__title {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
}

.smoothies__text {
  width: 915px;
  font-size: 18px;
  line-height: 1.94;
  text-align: center;
  margin: 0 auto;
} 

.smoothies__content {
  width: 1000px;
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}

.smoothies__content-item {
  width: 250px;
  display: flex;
  flex-direction: column;
}



.smoothies__content-img {
  display: block;
  max-width: 80px;
  margin: 0 auto;
}

.smoothies__content-title{
  font-family: Muli-Bold;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: -0.5px;
  text-align: center;
}

/* end smoothies */




/* start about */

.about {
  width: 100vw;
  height: 100vh;
  max-height: 800px;
  background-color: #14826f;
  display: flex;
  align-items: center;
}

.about__block {
  flex-basis: 50%;
  display: flex;
  justify-content: center;
}

.about__block-img {
  position: relative;
  top: 75px;
}

.about__content {
  flex-basis: 50%;
  width: 590px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.about__content-title {
  position: relative;
  width: 600px;
  font-size: 55px;
  margin-top: 0;
  font-weight: 800;
  line-height: 1.09;
  letter-spacing: -1.1px;
}

.about__content-title::after {
  content: ".";
  position: absolute;
  width: 450px;
  bottom: -35px;
  left: 70px;
  color:transparent;
  background-image:url(../assets/images/about_line.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.about__content-list {
  list-style-image: url(../assets/images/about__marker.png);
  font-size: 21px;
  font-weight: 800;
  line-height: 1.05;
  color: #ffffff;
  padding: 0;
  margin-left: 32px;
}

.about__content-item {
  padding-left: 20px;
  margin-bottom: 20px;
}

.about__content-text--thin {
  font-weight: normal;
}

.about__btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  width: 380px;
  height: 60px;
  color: #ffffff;
  font-size: 21px;
  line-height: 1.05; 
  padding-left: 40px;
  border: solid 2px #f8b231;  
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 

.about__btn::after {
  position: absolute;
  top: 30%;
  right: 10%;
  content: ".";
  width: 30px;
  color:transparent;
  background-image:url(../assets/images/Arrow-orange.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* end about */




/* start products */

.products {
  display: flex;
  width: 100vw;
  height: 720px;
}

.products__block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.products__title {
  font-family: Muli-Bold;
  font-size: 24px;
  line-height: 0.92;
  text-align: center;
}

.products__volume {
  font-family: Muli-Italic;
  font-size: 21px;
  line-height: 1.52;
  color: white;
}

.products__btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  text-transform: capitalize;
  width: 204px;
  height: 60px;
  margin-top: 65px;
  border: solid 2px #ffffff;
  color: #ffffff;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}

.products__btn::after {
  position: absolute;
  top: 36%;
  right: 15%;
  content: ".";
  width: 30px;
  color:transparent;
  background-image:url(../assets/images/Arrow-white.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* end products */



/* start story */

.story {
  position: relative;
  width: 100vw;
  height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story__title {
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
}

.story__text {
  width: 510px;
  font-size: 18px;
  line-height: 1.94;
}

.story__btn {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-left: 40px;
  width: 301px;
  height: 60px;
  margin-top: 60px;
  border-radius: 30px;
  color: white;
  font-size: 21px;
  line-height: 1.05;
}

.story__btn::after {
  position: absolute;
  top: 30%;
  right: 10%;
  content: ".";
  width: 30px;
  color:transparent;
  background-image:url(../assets/images/Arrow-orange.png);
  background-repeat: no-repeat;
  background-position: center center;
}

.story__container {
  position: relative;
  margin-left: 200px;
}

.story__container::before {
  position: absolute;
  content: ".";
  width: 290px;
  height: 220px;
  top: 20px;
  left: -170px;
  color:transparent;
  background-image:url(../assets/images/story__img-text.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* end story */



/* start reviews */

.reviews {
  width: 100vw;
  height: 720px;
  display: flex;
  background-color: #672f1b;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.reviews__title {
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
  text-align: center;
}

.reviews__block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviews__block-content {
  display: flex;
  flex-direction: column;
  width: 455px;  
  margin-right: 50px;
}

.reviews__block-text {
  font-size: 18px;
  line-height: 1.94;
  color: #ffffff;
}

.reviews__block-cite {
  color: #f7ae3b;
  font-family: Muli-Italic;
  font-weight: 600;
  line-height: 2.5;
}

.reviews__arrow {
  background-color: #672f1b;
  border-style: none;
}

.reviews__arrow-left {
  margin-right: 100px;
  transform: rotate(180deg);
  -webkit-transform: rotateX(90teg);
  -moz-transform: rotateX(90teg);
  -ms-transform: rotateX(90teg);
  -o-transform: rotateX(90teg);
}

/* end reviews */



/* start reviews */

.blog {
  width: 100vw;
  height: 800px;  
}

.blog__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__title {
  padding-top: 100px;
  margin: 0 0 50px 100px;
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
}

.blog__content {
  width: 690px;
}

.blog__content-line {
  width: 690px;
  height: 10px;
  background-color: #f7ae3b;
}

.blog__content-title {
  margin-left: 60px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.6px;
}

.blog__content-data {
  margin-left: 60px;
  font-size: 16px;
  line-height: 2.19;
  color: #1e1e1e;
  font-family: Muli-Regular;
}

.blog__content-text {
  margin-left: 120px;
  width: 470px;
  font-size: 18px;
  line-height: 1.94;
}

.blog__content-btn {
  font-weight: 800;
  font-family: Muli-Italic;
  background-color: white;
  border-style: none;
}

.btn__arrow {
  width: 20px;
  margin-left: 5px;
}

/* end blog */




/* start instagram */

.instagram {
  width: 100vw;
  height: 375px;
}

.instagram__link {
  display: flex;
  justify-content: center;
  align-items: center;
}

.instagram__title {
  letter-spacing: -0.48px;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 800;
  line-height: 1.67;
  color: #0aa566;
}

.instagram__container {
  width: 100vw;
  display: flex;
}

.instagram__item {
  display: flex;
  flex-grow: 1;
}

.instagram__foto {
  width: 100%;
}

/* end instagram */




/* start footer */

.footer__top {
  width: 100vw;
  height: 370px;
  background-color: #f6ab3b;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.footer__container {
  width: 1000px;
  display: flex;
  justify-content: space-between;
}

.footer__title {
  font-size: 26px;
  font-weight: 800;
  line-height: 1.54;
  letter-spacing: -0.52px;
}

.footer__info-list {
  list-style-type: none;
  padding: 0;
}

.footer__info-link {
  font-family: Muli-Bold;
  font-size: 18px;
  line-height: 1.94;
  letter-spacing: -0.36px;
  color: #6d450c;
}

.footer__payment-container {
  width: 270px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.footer__payment-img {
  width: max-content;
  height: max-content;
  margin: 0 20px 30px 0;
}

.form-mail__input {
  width: 495px;
  height: 60px;
  border-radius: 30px;
  border-style: none;
  background-image: url(../assets/images/footer__mail.png);
  background-repeat: no-repeat;
  background-position: 20px center;
  text-align: center;
  font-size: 17px;
  font-family: Muli-Bold;
  line-height: 2.06;
  letter-spacing: -0.34px;
  color: #6d450c;
}

.form-mail__input:focus { 
  outline: none !important;
}

.footer__mail-btn {  
  font-family: Muli-Bold;
  border-style: none;
  background-color: #f6ab3b;
  font-size: 18px;
  font-weight: 800;
  line-height: 2.22;
  letter-spacing: -0.36px;
  color: #6d450c;
  text-transform: uppercase;
  margin-top: 15px;
  padding-left: 20px;
}

.footer__social {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 120px;
}

.footer__social-list {
  display: flex;
  list-style: none;
}

.footer__social-item {
  margin-right: 30px;
}

.footer-bottom {
  width: 100vw;
  height: 60px;
  background-color: #6c2c1c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-bottom-rights {
  font-family: Muli-Regular;
  font-size: 14px;
  line-height: 2.69;
  text-align: center;
  color: #af8a82;
}

/* end footer */