@font-face {
  font-family: Muli-Bold; 
  src: url(../assets/fonts/Muli-Bold.ttf); 
}

@font-face {
  font-family: Muli-BoldItalic; 
  src: url(../assets/fonts/Muli-BoldItalic.ttf); 
}

@font-face {
  font-family: Muli-ExtraBold; 
  src: url(../assets/fonts/Muli-ExtraBold.woff); 
}

@font-face {
  font-family: Muli-Italic; 
  src: url(../assets/fonts/Muli-Italic.ttf); 
}

@font-face {
  font-family: Muli-Regular;
  src: url(../assets/fonts/Muli-Regular.woff); 
}

@font-face {
  font-family: Semi-BoldItalic; 
  src: url(../assets/fonts/Muli-Semi-BoldItalic.ttf); 
}



.btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-style: none;
  font-family: Muli-Regular;  
  font-weight: 800;
}

.btn--green {
  background-color: #0aa566;
}

.btn--dark-green {
  background-color: #14826f;
}

.btn--brown {
  background-color: #632b17;
}

.btn--yellow {
  background-color: #f7ae3b;
}

.btn--orange {
  background-color: #c3471b;
}


.title {
  font-family: Muli-ExtraBold;
} 

.title--orange {
  color: #f2612d;
}

.title--yellow {
  color: #f7ae3b;
}

.title--yellow-green{
  color: #cae941;
}

.title--white {
  color: white;
}


.text {  
  font-family: Muli-Regular;
}

.text--black {
  color: #1e1e1e;
}

.item {    
  font-family: Muli-Regular;
}


.block--brown {
  background-color: #632b17;
}

.block--dark-green {
  background-color: #178670;
}

.block--yellow {
  background-color: #f7ae3b;
}

.block--orange {
  background-color: #c3471b;
}



/*Start header*/

.header {
  width: 100vw; 
  height: 100vh;
  background-image: url(../assets/images/main-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  background-color: #f7ae3b;
}

.header__top,
.header__list,
.header__personal-social,
.personal__list,
.social__list {
  display: flex;
}

.header__top {
  padding-top: 60px;
  justify-content:space-around;
  align-items: center;
}

.header__list,
.personal__list,
.social__list {
  list-style-type: none;
  padding: 0;
}

.header__link,
.personal__link {  
  text-decoration: none;
  color: #ffffff;
}

.header__list {
  font-size: 14px;
  line-height: 2.5; 
  color: #ffffff;
  text-transform: uppercase;
}

.header__item:not(:last-child) {
  margin-right: 30px;
}

.header__logo {
  width: 210px;  
}

.header__line {
  width: 50px;
  margin: 0 40px;
  height: 1px;
  background-color: white;
}

.header__personal-social {
  justify-content: space-between;
  align-items: center;
}

.personal__item:not(:last-child) {
  margin-right: 40px;
}

.personal__cart-count {
  width: 20px;
  height: 20px;
  font-family: Muli;
  font-size: 10px;
  line-height: 4;
  color: black;
  background-color: white;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.social__item {
  width: 35px;
  height: 35px;
  background-color: white;
  border-radius: 18px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  -ms-border-radius: 18px;
  -o-border-radius: 18px;
}

.social__icon {
  display: block;
  margin: auto;
  padding-top: 8px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.header__content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 110px;
}

.header__btn {
  width: 280px;
  height: 70px;
  border-radius: 35px;
  font-size: 24px;
  line-height: 1.67;
  color: #ffffff;
}


/* end header */




/* start smoothies */

.smoothies {
  width: 100vw;
  height: 870px;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.smoothies__title {
  margin-top: 100px;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
}

.smoothies__text {
  width: 915px;
  font-size: 18px;
  line-height: 1.94;
  text-align: center;
  margin: 0 auto;
} 

.smoothies__content {
  width: 1000px;
  margin: 70px auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
}

.smoothies__content-item {
  width: 250px;
  display: flex;
  flex-direction: column;
}



.smoothies__content-img {
  display: block;
  max-width: 80px;
  margin: 0 auto;
}

.smoothies__content-title{
  font-family: Muli-Bold;
  font-size: 25px;
  font-weight: 800;
  line-height: 1.6;
  letter-spacing: -0.5px;
  text-align: center;
}

/* end smoothies */




/* start about */

.about {
  width: 100vw;
  height: 800px;
  background-color: #14826f;
  display: flex;
}

.about__block {
  margin-top: 65px;
}

.about__block-img {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}

.about__content {
  width: 590px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.about__content-title {
  font-size: 55px;
  font-weight: 800;
  line-height: 1.09;
  letter-spacing: -1.1px;
}

.about__content-list {
  list-style-image: url(../assets/images/about__marker.png);
  font-size: 21px;
  font-weight: 800;
  line-height: 1.05;
  color: #ffffff;
}

.about__content-item {
  padding-left: 20px;
  margin-bottom: 20px;
}

.about__content-text--thin {
  font-weight: normal;
}

.about__btn {
  width: 380px;
  height: 60px;
  border-radius: 30px;
  border: solid 2px #f8b231;
  color: #ffffff;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.05;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
} 

/* end about */




/* start products */

.products {
  display: flex;
  width: 100vw;
  height: 720px;
}

.products__block {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
}

.products__title {
  font-family: Muli-Bold;
  font-size: 24px;
  line-height: 0.92;
  text-align: center;
}

.products__volume {
  font-family: Muli-Italic;
  font-size: 21px;
  line-height: 1.52;
  color: white;
}

.products__btn {
  text-transform:capitalize;
  width: 204px;
  height: 60px;
  margin-top: 65px;
  border-radius: 30px;
  border: solid 2px #ffffff;
  color: #ffffff;
}

/* end products */



/* start story */

.story {
  width: 100vw;
  height: 880px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story__title {
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
}

.story__text {
  width: 510px;
  font-size: 18px;
  line-height: 1.94;
}

.story__btn {
  width: 301px;
  height: 60px;
  margin-top: 60px;
  border-radius: 30px;
  color: white;
  font-size: 21px;
  line-height: 1.05;
}

/* end story */



/* start reviews */

.reviews {
  width: 100vw;
  height: 720px;
  display: flex;
  background-color: #672f1b;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.reviews__title {
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
  text-align: center;
}

.reviews__block {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.reviews__block-content {
  display: flex;
  flex-direction: column;
  width: 455px;  
  margin-right: 50px;
}

.reviews__block-text {
  font-size: 18px;
  line-height: 1.94;
  color: #ffffff;
}

.reviews__block-cite {
  color: #f7ae3b;
  font-family: Muli-Italic;
  font-weight: 600;
  line-height: 2.5;
}

.reviews__arrow {
  background-color: #672f1b;
  border-style: none;
}

.reviews__arrow-left {
  margin-right: 100px;
  transform: rotate(180deg);
  -webkit-transform: rotateX(90teg);
  -moz-transform: rotateX(90teg);
  -ms-transform: rotateX(90teg);
  -o-transform: rotateX(90teg);
}

/* end reviews */



/* start reviews */

.blog {
  width: 100vw;
  height: 800px;  
}

.blog__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blog__title {
  margin: 100px 0 50px 100px;
  font-size: 50px;
  font-weight: 800;
  line-height: 0.8;
  letter-spacing: -1px;
}

.blog__content {
  width: 690px;
}

.blog__content-line {
  width: 690px;
  height: 10px;
  background-color: #f7ae3b;
}

.blog__content-title {
  margin-left: 60px;
  margin-bottom: 0;
  font-size: 30px;
  font-weight: 800;
  line-height: 1.33;
  letter-spacing: -0.6px;
}

.blog__content-data {
  margin-left: 60px;
  font-size: 16px;
  line-height: 2.19;
  color: #1e1e1e;
  font-family: Muli-Regular;
}

.blog__content-text {
  margin-left: 120px;
  width: 470px;
  font-size: 18px;
  line-height: 1.94;
}

.blog__content-btn {
  font-weight: 800;
  font-family: Muli-Italic;
  background-color: white;
  border-style: none;
}

.btn__arrow {
  width: 20px;
  margin-left: 5px;
}



/* end blog */



.instagram {
  width: 100%;
  height: 460px;
}



.footer__top {
  width: 100%;
  height: 370px;
  background-color: #f6ab3b;
}



.footer-bottom {
  width: 100%;
  height: 60px;
  background-color: #6c2c1c;
}