@font-face {
    font-family: "RobotoMedium";
    src: url("./../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "RobotoRegular";
    src: url("./../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandMedium";
    src: url("./../fonts/Quicksand-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "QuicksandBold";
    src: url("./../fonts/Quicksand-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("./../fonts/OpenSans-Bold.ttf") format("truetype");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("./../fonts/OpenSans-SemiBold.ttf") format("truetype");
}




html,
body {
    font-family: "QuicksandMedium", sans-serif;
    font-size: 10px;
}

.text-primary {
    color: #3D4F9F!important;
}

.text-secondary {
    color: #8D96BD!important;
}

.text-info {
    color: #5E80FF!important;
}



.subtitle {
    font-family: "RobotoRegular", Times, serif;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    color: #3D4F9F;
}

.title {
    font-family: "QuicksandMedium", sans-serif;
    color: #3D4F9F;
}



.header {
    padding: 18px 100px;
}

.header__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header__logo {
    width: 26px;
    height: 26px;
    background: #5E81FE;
}

.header__btn-menu {
    display: none;
}

.header__nav {
    font-size: 12px;
    font-weight: 500;
    line-height: 15px;   
}

.head__play-svg--circle:hover,
.header__social {
    fill: #B6BAC7;
}


.header__social:hover {
    fill:#6188FF;
}

.head__play-svg--circle:active,
.header__social:active {
    fill:#757E9A;
}


.header__btn {
    width: 113px;
    height: 43px;
    color:#3A79FF;
    background: #D2E1FF;
    border: none;
    margin-left: 1rem;
}








.nav-link {
    color: #697CA6;
    padding: .5rem 4.2rem 0.5rem 0;
}

.nav-link--last {
    padding: 0.5rem 0;
}

.nav-link.active {
    color: #5E81FE;
}




.head {
    position: relative;
    height: 100vh;
    max-height: 57rem;
    background: linear-gradient(180deg, #F4F7FF 0%, #F1F5FF 100%);
    border-top: 1px solid #D8E3FE;    
    border-bottom: 1px solid #D8E3FE; 
}

.head__container {
    width: 100%;
    height: 100vmax;
    max-height: 57rem;
    background: url("./../img/main--bg.png") no-repeat center;
    background-size: contain;
}

.head__subtitle {    
    padding-top: 8rem;
}


.head__title {
    font-weight: 300; 
    font-size: 4.8rem;
    line-height: 6rem;
    margin: 0.5rem 0 2rem;
}

.head__text {
    font-family: "RobotoRegular", Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #8D96BD;
}

.head__btn {
    position: relative;
    margin-top: -3rem;
}


.brand__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 37px 0;
}

.brand__item {
    margin: 10px 0;
}

.brand_icon {
    fill: #D6DAE5;
}

.brand_icon:hover {
    fill: #5982E7;
}

.app {
    width: 100%;
    background-color: #F5F8FF;
}

.app__wrapper {
    height: 100vh;
    max-height: 77.6rem;
    padding: 12rem 0 6rem;
}

.app__content {
    padding-left: 262px;
}

.app__block {
    height: max-content;
}

.app__subtitle {
    margin-top: 6rem;
}

.app__title {
    font-weight: 400; 
    font-size: 3.6rem;
    line-height: 4.5rem;
    margin: 3rem 0;
}

.app__text {
    font-family: "RobotoRegular", Times, serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    color: #8D96BD;
    margin-bottom: 6rem;
}

.app__btn {
    width: 13rem;
    height: 4.3rem;
    font-family: "QuicksandMedium", sans-serif;
    font-weight: 500; 
    font-size: 13px;
    line-height: 16px;
}

.app__btn--blue {
    position: relative;
    background-color: #4C85FF;
    color: white;
}

.app__btn--blue::after {
    position: absolute;
    content: " ";
    width: 6.5px;
    height: 8px;
    top: 44%;
    right: 16px;
    background: url(./../img/app__play.png) no-repeat center;
}

.app__btn--grey {    
    color: #ADB4D2;
    border: 1px solid #ADB4D2;
}

.app__imgs {
    position: relative;
    width: 100%;
    max-width: 653px;
    height: 450px;
    background: url("./../img/app__desktop.png") no-repeat;
    background-position: bottom;
    background-size: cover;
}

.app__img1 {
    position: absolute;
    left: 10%;
}

.app__img2 {
    position: absolute;
    right: 0;
    bottom: 0;
}


.about {
    width: 100%;  
    background: url(./../img/about__clouds.png) no-repeat center;
    background-size: contain;
}

.about__container {
    height: 100vmax;
    max-height: 88.5rem;
    padding: 17rem 0;
}

.about__blocks {
    width: 100%;
    margin-bottom: 10rem;
}

.about__block {
    margin: 0 2rem;
}

.about__title {
    font-family: "QuicksandBold", sans-serif;
    font-weight: 500; 
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 2rem 0 9.5rem;
}

.about__headline {
    font-family: "OpenSans-SemiBold", sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 25px;
    color: #4074F8;
    margin: 3.3rem 0 2.5rem;
}

.about__text {
    max-width: 15rem;
    font-family: "OpenSans-Bold", sans-serif;
    font-weight: 600;
    font-size: 11px;
    line-height: 19px;
    color: #ADB3CB;
    margin: 0 auto;
}

.about__btns {
    width: 100%;
}

.about__btn {
    width: 11.3rem;
    height: 4.3rem;
    font-family: "QuicksandMedium", sans-serif;
    font-weight: 700; 
    font-size: 13px;
    line-height: 16px;
}

.about__btn--red {
    color: #D43F3F;
    background-color: #FFD7D7;
}

.about__btn--l-blue {
    color: #3A79FF;
    background-color: #D2E1FF;
}

.about__span {
    padding: 0 4.8rem;
}


.statistics__block {
    height: 100vh;
    max-height: 34.2rem;
}

.statistics--blue {
    background: linear-gradient(#6888FF 0%, #5E80FF 100%);
}

.statistics--l-blue {
    background: linear-gradient(#E9EFFF 0%, #E0E9FF 100%);
}

.statistics__img {    
    width: 7.2rem;
    height: 7rem;
}

.statistics__img--time {
    background: url(./../img/statistics__time.svg) no-repeat center;
}

.statistics__img--people {
    background: url(./../img/statistics__people.svg) no-repeat center;
}

.statistics__title {
    font-family: "QuicksandMedium", serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 83px;
    margin: 1rem 0;
}

.statistics__text {
    font-family: "QuicksandMedium", serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
}

.resources {
    padding: 104px 0;
    height: 100vh;
    max-height: 86.5rem;
    background-color: #F5F8FF;
}

.resources__subtitle  {
    font-family: "RobotoMedium";
    font-size: 10px;    
    line-height: 12px;
    padding-bottom: 20px;
    text-transform: uppercase;
    color: #3D4F9F
}

.resources__title {
    font-family: "QuicksandMedium";
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #3D4F9F;
}

.resources__img {
    width: 41rem;
    height: 100vmax;
    max-height: 27rem;
    padding-right: 67px;
    background: url(./../img/resources__illustrations.png) no-repeat center;
}

.resources__carousel {
    width: 100%;
    height: 100vh;
    max-width: 958px;
    max-height: 394px;
    margin: 92px auto;
}

.resources__inner {
    background-color: white;
    padding: 64px 35px 64px 40px;
}

.resources__link-img {
    fill: white;
}

.resources__link-img:hover {
    fill: #9bbbff;
}

.resources__item-title {
    font-family: "QuicksandMedium";
    font-weight: 400;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    padding-bottom: 27px;
}

.resources__item-text {
    font-family: "RobotoRegular";
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    color: #8D96BD;
    padding-bottom: 31px;
}

.resources__item-btns {
    font-family: "QuicksandMedium";
    font-weight: 700;
    font-size: 13px;
}

.resources__item-btn {
    color: #A6B6DA;
    padding: 10px 18px;
    margin-right: 8px;
}

.resources__item-btn--active {
    color: #3A79FF;
    background-color: #D2E1FF;
}






.carousel-control-next {
    opacity: 1;
    right: -16%;
}

.carousel-control-prev-icon {
    width: 26px;
    height: 18px;
    background-image: url('./../img/resources__arrow-left.svg');
}

.carousel-control-prev {
    opacity: 1;
    left: -16%;
}

.carousel-control-next-icon {
    width: 26px;
    height: 18px;
    background-image: url('./../img/resources__arrow-right.svg');
}

.resources .carousel-indicators {
    bottom: -115px;
}

.carousel-indicators li {
    width: 8px;
    height: 8px;
    background: #D1D6E3;
    border: none;
    border-radius: 50%;
    opacity: 1;
}

.carousel-indicators .active {
    background: #5283FF;
}





.testimonials {
    background: linear-gradient(180deg, #EAF0FF 0%, #F6F9FF 100%);
    padding: 95px 0 180px;
}

.testimonials__block-1 {
    width: 100%;
    max-width: 333px;
    margin-right: 132px;
}

.testimonials__block-2 {
    width: 100%;
    max-width: 423px;
}

.testimonials__subtitle {
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: #3D4F9F;    
    padding-top: 35px;
    padding-bottom: 30px;
    margin: 0;
}

.testimonials__title {
    font-family: "QuicksandMedium";
    font-weight: 500;
    font-size: 36px;
    line-height: 45px;
    color: #3D4F9F;
    padding-bottom: 14px;
    margin: 0;
}

.testimonials__text {
    font-family: "OpenSans-SemiBold";
    font-weight: 600;
    font-size: 12px;
    line-height: 23px;
    color: #A4ABC8;
    letter-spacing: 0.03em;
}

.testimonials__block-content {
    position: relative;
    padding: 35px 65px;
    margin-bottom: 40px;
    background: #FFFFFF;
    border: 1px solid #D8E3FE;
    box-sizing: border-box;
    box-shadow: 0px 5px 50px #F3F5FA;
}

.testimonials__block-text {
    font-family: "RobotoMedium";
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #676F95;
    margin: 0;
}

.testimonials .carousel-indicators {
    bottom: -90px;
}

.testimonials__block-img {
    position: absolute;
    bottom: -31px;
    left: 0;
    right: 0;
    margin: 0 auto;
}








.help {
    padding: 175px 0;
}



.title__text {
    font-family: "RobotoMedium", sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.title__slogan {
    font-family: "QuicksandMedium", sans-serif;
    font-size: 24px;

}

.help__card {
    border: none !important;
    border-bottom: 1px solid #D8E3FE !important;
}

.help__card-header {
    background-color: transparent;
    padding: 17px 17px 15px;
    border: none !important;
}

.help__card-title {
    height: 45px;
    display: flex;
    align-items: center;
    font-family: "QuicksandBold", sans-serif;
    color: #495274;
    font-size: 15px;
    letter-spacing: .5px;
}

.btn.focus, .btn:focus {
    box-shadow: none;
}

.help__card-btn {
    height: 12px;
    width: 20px;
    background-image: url("./../img/arrow-open.svg");
    background-repeat: no-repeat;
    margin-right: 24px;
}

.help__card-btn.collapsed {
    background-image: url("./../img/arrow.svg");
    background-repeat: no-repeat;
}

.help__card-btn.collapsed + .help__card-title-text {
    color: #8E96B7;
    font-family: "QuicksandMedium", sans-serif;
}

.help__card-body {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 16px 10px 50px 72px;
}

.help__card-text {
    font-family: "RobotoRegular", sans-serif;
    font-size: 14px;
    letter-spacing: 0.5px;
    color: #8D96BD;
    line-height: 1.9;
    margin-right: 60px;
}

.help__card-body-btn {
    height: 42px;
    min-width: 195px;
    background-color: #E8ECF4;
    font-family: "QuicksandMedium", sans-serif;
    font-size: 13px;
    color: #7382A3;
    border: none;
    margin-top: 5px;
    border-radius: 2px;
}

.help__card-body-btn:focus {
    outline: 1px solid transparent;
}




.plan {    
    position: relative;
    color: #FFFFFF;
    padding: 80px 0 90px;
    background: linear-gradient(229.32deg, #6888FF 12.77%, #5E80FF 73.11%);
}

.plan::after {
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("./../img/plan--bg.png") no-repeat center;
}

.plan__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.plan__subtitle {
    font-family: "RobotoMedium";
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    padding-bottom: 16px;
}

.plan__title {
    font-family: "QuicksandMedium";
    font-style: normal;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    padding-bottom: 28px;
}

.plan__title--bold {
    font-family: "QuicksandBold";
    font-weight: 500;
}

.plan__text {
    max-width: 700px;
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 29px;
    letter-spacing: 0.03em;
    padding-bottom: 28px;
}

.plan__btns {
    display: flex;
    align-items: center;
    font-size: 13px;
    line-height: 16px;
}

.plan__btn {
    width: 155px;
    font-family: "QuicksandMedium";
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #C7D3FF;        
    border: 1px solid #A0B4FF;
    padding: 13px 8px;
}

.plan__btn--active {
    width: 130px;
    font-family: "QuicksandBold";
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    background-color: white;
    color: #565F82;
}

.connect {
    padding: 118px 0;
}

.connect__content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.connect__block {
    width: 100%;
    max-width: 330px;
}

.connect__block-title {
    font-family: "QuicksandBold";
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #3D4F9F;
    padding-bottom: 18px;
}

.connect__block-text {
    font-family: "RobotoRegular";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: #8D96BD;
}

.connect__form {
    display: flex;
}

.connect__form-email {
    width: 280px;
    height: 59px;
    background: #EFEFF7;
    border-radius: 5px;
    margin-right: 14px;
    font-family: "QuicksandMedium";
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #7A85AD;
}

.connect__form-email::placeholder {
    padding: 28px 23px;
    opacity: 0.9;
}

.connect__form-btn {
    width: 184px;
    height: 59px;
    background: #4D6CE1;
    box-shadow: 0px 5px 15px rgba(116, 104, 255, 0.2);
    border-radius: 5px;
    font-family: "QuicksandMedium";
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #FFFFFF;
}




.footer {
    padding: 93px 0;        
    border: 1px solid #ebebeb;
}

.footer__bottom {
    font-family: "QuicksandMedium";
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    color: #AEB8D0;
    padding-top: 28px;
    padding-left: 188px;
}





@media (max-width: 1200px) {
    .app__content {
        padding-left: 162px;
    }

    .app__imgs {
        max-width: 553px;
    }
}


@media (max-width: 1000px) {
    .header {
        padding: 18px 50px;
    }

    .app__content {
        padding-left: 62px;
    }

    .app__imgs {
        max-width: 453px;
    }
}

@media (max-width: 900px) {
    .header {
        padding: 18px 20px;
    }
}

@media (max-width: 800px) {
    .header {
        padding: 18px 0;
    }

    .nav-link {
        padding: 0.5rem 1.5rem 0.5rem 0;
    }

    .app__wrapper {
        display: flex;
        flex-direction: column;
    }
}



@media (max-width: 700px) {

    .header {
        overflow-x: clip;
    }

    .header__btn-menu {
        z-index: 11;
        display: block;
        position: relative;
        cursor: pointer;
        width: 50px;
        padding: 12px 0;
        margin-left: 20px;
        margin-right: 5px;
        transition: all .7s;
    }

    .header__btn-menu::after {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        content: "";
        width: 40px;
        height: 3px;
        background-color: #3D4F9F;
    }

    .header__btn-menu::before {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        content: "";
        width: 40px;
        height: 3px;
        background-color: #3D4F9F;
    }

    .header__btn-menu span {
        display: block;
        width: 40px;
        height: 3px;
        background-color: #3D4F9F;
    }


    .header__btn-menu--active span {
        height: 0;
    }

    .header__btn-menu--active::after {
        width: 42px;
        left: -10px;
        top: 45%;
        transform: rotate(-45deg); 
    }

    .header__btn-menu--active::before {
        left: -10px;
        width: 42px;
        top: 45%;
        transform: rotate(45deg);
    }


    .header__nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;
        position: absolute;
        z-index: 10;
        height: 100vh;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #171a25;
        transition: all 0.7s;
        transform: translateX(800px);
    }
    
    .header__nav--active {
        opacity: 1;
        transform: translateX(0);
    }
    
    .nav-item {
        font-size: 25px;
        line-height: 73px;
        padding-bottom: 16px;
    }   
}


@media (max-width: 500px) {

    .head,
    .head__container {
        max-height: 47rem;
    }
}


@media (max-width: 400px) {

    .head,
    .head__container {
        max-height: 44rem;
    }

    .head__title {
        font-weight: 300;
        font-size: 3.8rem;
        line-height: 4rem;
        margin: 0.5rem 0 2rem;
    }
}




/* animation */

.slide-bottom:hover {
	-webkit-animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-bottom 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}


 @-webkit-keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes slide-bottom {
    0% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    100% {
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  

  .slide-left:hover {
	-webkit-animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
	        animation: slide-left 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s both;
}


 @-webkit-keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  @keyframes slide-left {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
    }
    100% {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
    }
  }
  