// main: ./../main.less


.block--brown {
  background-color: #632b17;
}

.block--dark-green {
  background-color: #178670;
}

.block--yellow {
  background-color: #f7ae3b;
}

.block--orange {
  background-color: #c3471b;
}

