
.reviews {
  @extend %width_height--100;
  @include flex--a-j-d (center, space-around, column);
  max-height: 770px;  
  position: relative;
  padding: 80px 0;
  background: #672f1b url(../../assets/images/reviews_sarah-a.png) no-repeat;  
  background-position: 38% 45%;

  @media (max-width: 1200px) {
    padding-top: 0;
  }

  @media (max-width: 768px) {
    background-size: 80%;
    background-position: 50% 61%;
    padding-bottom: 50px;
    max-height: max-content;
  }

  @media (max-width: 568px) {
    background-size: 80%;
    background-position: 50% 50%;
  }

  &::before {
    @extend %pseudo-element;
    width: 410px;
    height: 300px;
    top: -85px;
    right: 60px;
    background-image:url(../../assets/images/reviews_dots.png);

    @media (max-width: 1540px) {
      display: none;
    }


  }
  
  &__title {
    line-height: 1;
    letter-spacing: -1px;
    text-align: center;
  }
  
  &__block {
    @include flex--a-j-d (center, center);    
    text-align: center;
    padding-top: 8rem;
    padding-bottom: 12rem;

    @media (max-width: 768px) {
      @include flex--a-j-d (center, center, column-reverse);
      padding-top: 3rem;
      padding-bottom: 5rem;
    }

    @media (max-width: 568px) {
      padding-top: 2rem;
      padding-bottom: 3rem;
    }
  
    &-content {
      @include flex--a-j-d (flex-start, flex-start, column);
      max-width: 455px;  
      margin-right: 50px;

      @media (max-width: 1024px) {
        margin: 50px 10px;
      }
    }

    &-text {
      font-size: 1.8rem;
      line-height: 1.94;
      color: $main-color;
    }

    &-cite {  
      color: $primary;
      font-size: 1.8rem;
      font-family: 'Muli-BoldItalic';
      line-height: 2.5;
      margin: 0 auto;
    }

    &-avatar {

      @media (max-width: 568px) {
        width: 40%;
      }
    }
  }
  
  &__arrow {
    @include flex--a-j-d (flex-start, space-between);
    width: 100%;
    max-width: 24rem;
  
    &-left{
      max-width: 11rem;
      max-height: 3rem;
      background-color: transparent;
    }

    &-right {
      max-width: 11rem;
      max-height: 3rem;
      background-color: transparent;
    }
  }
  
  
  
  
  
  
  
  
  
  
  
  
}





