
.subtitle {
  font-family: 'Muli-ExtraBold', sans-serif;
  font-size: $font-size--subtitle;
} 

.title {
  font-family: 'Muli-ExtraBold', sans-serif;
  font-size: $font-size--title;

  @media (max-width: 1200px) {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  &--orange {
    color: $subtitle-color;
  }
  
  &--yellow {
    color: $primary;
  }
  
  &--yellow-green{
    color: #cae941;
  }
  
  &--white {
    color: $main-color;
  }
}

