.location {
  position: relative;
  margin: 4.5rem 0 0rem;

  @media screen and (min-width: 1280px) {
    margin: 8rem 0 13rem;
  }

  &__map {
    width: 100%;
    height: 423px;

    @media screen and (min-width: 576px) {
      height: 509px;
    }
  }

  &__slider {
    position: relative;
  }

  &__slid {    
    position: relative;

    @media screen and (max-width: 1280px) {
      width: 400px;
      margin: 0 auto;
      overflow-x: hidden  
    }
  }

  &__box {
    width: 100%;
    max-width: 27.2rem;
    margin: 5.2rem auto 4rem;
    padding-bottom: 1.1rem; 
    border: 1px solid $secondaryColor;

    @media screen and (min-width: 576px) {
      max-width: 40rem;
    }

    @media screen and (min-width: 1280px) {
      background-color: $primaryColor;
      z-index: 100;
      position: absolute;
      top: -511px;
      left: 0;
      max-width: 42rem;
      max-height: 45.5rem;
      height: 100vmax;
      margin: 2rem auto 2rem;
    }
  }

  &__list {
    width: max-content;
    list-style: none;
    margin: 5.2rem 0 4rem;
    padding: 0;
    display: flex;
    position: relative;
    left: 0;
    transition: all ease 1s;

    @media screen and (min-width: 1280px) {
      overflow-x: inherit;
      flex-direction: column;
      margin: 3.4rem 0 2rem;
    }
  }

  &__item {
    width: 270px;
    padding-right: 130px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4;
    align-items: center;
    justify-items: center;

    @media screen and (min-width: 576px) {
      width: 400px;
      padding-right: 0;
    }

    @media screen and (min-width: 1280px) {
      min-width: 100%;
      grid-template-columns: 10.5rem 17rem;
      grid-template-rows: 2;
      justify-items: flex-start;
      align-items: center;
    }
  }

  &__number {
    position: relative;
    @include text(30px,700,44px,$primaryColor);
    width: 66px;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $accentColor;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;

    @media screen and (min-width: 1280px) {
      @include text(35px,700,51px,$primaryColor);
      width: 61px;
      height: 61px;
      grid-column: 1/2;
      grid-row: 1/3;
      justify-self: center;
    }
  }

  &__title {
    @include text(16px, 500, 23px, $textColor);
    margin: 1.8rem 0 0.6rem;

    @media screen and (min-width: 1280px) {
      @include text(18px, 500, 27px, $textColor);
      grid-column: 2/3;
      grid-row: 1/2;
    }
  }

  &__subtile {
    @include text(14px, 400, 20px, $textColor);
    margin-bottom: 1.9rem;

    @media screen and (min-width: 1280px) {
      @include text(18px, 400, 26px, $textColor);
    }
  }  

  &__photographer {
    display: grid;
    grid-template-columns: 9.3rem 15rem;
    grid-template-rows: 3;
    justify-content: center;
    padding-right: 0;

    @media screen and (min-width: 1280px) {
      overflow-x: none;
      grid-template-columns: 9.3rem 30rem;
      justify-items: flex-start;
      align-items: center;
    }

    &-img {   
      margin: 0 1rem;
      width: 6.7rem;
      height: 6.7rem;
      background-size: contain;
      grid-column: 1/2;
      grid-row: 1/4;
      justify-self: center;

      @media screen and (min-width: 1280px) {
        justify-self: center;
      }
    }

    &-title {
      @include text(16px, 500, 19.5px, $textColor);
      grid-column: 2/3;
      grid-row: 1/2;
      margin: 0.2rem 0 0.5rem;
    }

    &-subtitle {
      @include text(14px, 400, 21px, $textColor);
    }

    &-link {
      @include text(14px, 500, 21px, $linkColor);
      max-width: 25rem;
      margin-top: 0.4rem;
    }

    &-span {
      display: block;
      @media screen and (min-width: 1280px) {
        display: none;
      }
    }
  }

}